* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    padding-top: 100px;
}

.popsicle {
    position: relative;

    width: 150px;
    height: 230px;

    border: 3px solid black;
    border-top-left-radius: 75px;
    border-top-right-radius: 75px;
    background: repeating-linear-gradient(
        315deg,
        rgba(255,252,84,1) 0%, rgba(255,252,84,1) 10%,
        rgba(116,101,230,1) 10%, rgba(116,101,230,1) 20%,
        rgba(239,137,239,1) 20%, rgba(239,137,239,1) 30%,
        rgba(138,250,77,1) 30%, rgba(138,250,77,1) 40%,
        rgba(116,251,253,1) 40%, rgba(116,251,253,1) 50%
    );
    background-size: 200% 200%;
    animation: popsicle-animation 5s linear infinite forwards;
}

@keyframes popsicle-animation {
    from {
        background-position: 0% 0%;
    }

    to {
        background-position: 100% 100%;
    }
}

.stick {
    position: absolute;

    bottom: -80px;
    left: 50%;
    margin-left: -23px;

    width: 40px;
    height: 80px;

    border: 3px solid black;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;

    background: #ffd038;
}
